.bg1{
	background:url(../images/bg.jpg)!important;
	width:100%;
	height: 100%;
	background-size: cover;
}
.bg2{
	background:url(../images/bg.jpg)!important;
	background-size：100% 100%
	background-size: cover;
}
#title{
	position:absolute;
	top: 350px; 
	left: 600px;
	font-size: 70px;
	color: #FFF;
	no-repeat ;
}
#title1{
	position:absolute;
	top: 500px; 
	left: 430px;
	font-size: 20px;
	color: #FFF;
}
#yincang{
	display:none;
}
#yincang1{
	display:none;
}
.form2{
	display:none;
}
#f5{
	color: #D6370C;
}
